**.pyc
**.swn
**.swp
**.swo
log/
env/
.venv/
spack-build_stage/
spack-test_stage/
spack-misc_cache/
user-config/
user-cache/

# links to uenv, created by setup-env.sh
sysconfigs/uenv/compilers.yaml
sysconfigs/uenv/packages.yaml
sysconfigs/uenv/upstreams.yaml
