name: Deploy docs to latest
env:
  DOCS_VERSION: latest

on:
  push:
    branches:    
      - master
      - main

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build docs
        uses: C2SM/sphinx-action@sphinx-latest
        with:
          pre-build-command: "pip install sphinx_rtd_theme && pip install sphinx-copybutton"
          build-command: "sphinx-build -b html . _build"
          docs-folder: "docs/"
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build
          destination_dir: ${{ env.DOCS_VERSION }}
          allow_empty_commit: true
